@media screen and (max-width: 1200px) {
  #dnav {
    display: none;
  }
  #mnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    gap: 9rem;
    margin: 1rem;
  }
  #mnav .logo {
    font-size: 1rem;
    font-weight: 700;
    font-feature-settings: "clig" off, "liga" off;
  }
  #mnav img {
    width: 2rem;
    height: 2rem;
  }
  #mnav img:hover {
    cursor: pointer;
  }

  .hero-section {
    /* height: 70vh; */
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: 2rem 2rem;
  }
  .hero-image {
    width: 20rem;
    height: 20rem;
  }
  .hero-content {
    width: 25rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 1rem;
  }
  .hero-title {
    width: 25rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.375rem;
  }
  .hero-description {
    color: #3a3a3a;

    text-align: center;
    font-size: 0.875rem;
    font-weight: 500;
  }
  .hero-button {
    margin: 0 auto;
  }
  .sponsors img {
    width: 4rem;
    height: 4rem;
  }
  .sponsors {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
  }
  .collection-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .collection-cards {
    grid-template-columns: 1fr;
  }
}
